@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-gray-600 lg:text-2xl xl:text-3xl;
  }

  h1 {
    @apply text-2xl lg:text-4xl xl:text-5xl font-bold;
  }

  h2 {
    @apply text-xl lg:text-3xl xl:text-4xl font-bold mb-4 xl:mb-6;
  }

  a {
    @apply text-gray-600 transition-colors duration-200;
  }

  a:hover {
    @apply text-gray-800 underline;
  }

  #__next {
    @apply w-full h-full grid gap-8 md:gap-12 lg:gap-14 xl:gap-20;
  }
}

html {
  font-family: Rubik, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
}

a:hover img {
  opacity: 90;
}

#__next {
  grid-template-rows: auto;
}

.grid-custom {
  grid-template-columns: 1fr auto;
}
